@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", serif;
  background-color: #f7f7f7;
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
}

.musicContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  margin: 100px 0;
  padding: 20px 30px;
  display: flex;
  z-index: 20;
  height: 130px;
  width: 500px;
  position: relative;
}
.musicContainer img {
  position: absolute;
  top: -40px;
  height: 135px;
  width: 135px;
  border-radius: 50%;
}

.navingationButtons {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navingationButtons .icon {
  background-color: transparent;
  border: none;
  color: #dfdbdf;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
  border: none;

  &:hover {
    color: #fe8daa;
  }
}
.navingationButtons .pauseActive {
  display: none;
  &:hover {
    color: #fe8daa;
  }
}
.navingationButtons .play {
  color: #cdc2d0;
  /* font-size: 40px; */
  font-size: 75px;
  &:hover {
    color: #fe8daa;
  }
}

.progress {
  background-color: #fe8daa;
  border-radius: 3px;
  height: 3px;
  width: 80%;
  transition: width 0.1s ease-in linear;
}
.musicInfoContainer {
  height: 65px;
  /* padding: 30px; */
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
  position: absolute;
  top: -61px;
  left: 65px;
  width: 80%;
  border-radius: 10px;
  /* display: none; */
}
.musicInfo{
  display: flex;
    flex-direction: column;
}
.musicInfo h2 {
  font-size: 1.25rem;
}
